# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Virtual environments
venv/
venv_schema/
.venv/
env/

# Environment files
.env
.env.*

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/

# Tests
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.mypy_cache/

# Docker
.dockerignore

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Temp
*.tmp
*.bak
hr_temp.json
