SECRET_KEY=change-me-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=formuloo_compta
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432

REDIS_URL=redis://localhost:6379/2

AUTH_SECRET_KEY=change-me-must-match-auth-service
ACCESS_TOKEN_LIFETIME=15
REFRESH_TOKEN_LIFETIME=7

AUTH_SERVICE_URL=http://localhost:8000
AUTH_SERVICE_TOKEN=service-internal-token
