# Environnement virtuel
venv/
.venv/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Tests et couverture
.pytest_cache/
.coverage
htmlcov/

# Variables d'environnement
.env

# Git
.git/
.gitignore

# VS Code
.vscode/

# Logs
*.log

# Base de données locale
*.sqlite3
